
.profile-top {
  display: flex;
  margin-bottom: 6px;
}

.profile-top__avatar {
  margin: 10px 10px 0 0;
}

.profile-top__name-and-links {
  // Allow options extra space on high width even when name is short
  flex: 1 1 0%;
}

// Lessen h1's margins because it's not butting up against text
h1.profile-top__name-header {
  margin-top: 10px;
  margin-bottom: 0;
}

.table--stats {
  min-width: 220px;

  @media (max-width: 900px) {
    margin-left: 0;
  }
}

td.table--stats__parameter {
  width: 20%;
}

td.table--stats__value {
  width: 15%;
}

td.table--stats__sparkline {
  width: 65%;
}

.profile-top__options {
  display: flex;
  flex-wrap: wrap;
}

.profile-top__options__column {
  flex: 0 0 auto;
  // Override terrible browser styling
  list-style: none;
  padding: 0;
  margin: 0.5em 2em 0.5em 0;
}

.profile-admin__options__column {
  flex: 0 0 auto;
  list-style: none;
  padding: 4px;
  min-width: 200px;
  margin: 0.5em 2em 0.5em 0;

  li {
    padding: 6px;
    background: $header_secondary_color;
    margin: 4px 0;
  }

  li:hover {
    background: $header_secondary_hover_color;
  }

  a {
    display: block;
    color: $foreground_color !important;
  }

  .admin__button {
    margin-left: 4px;
  }
}

@media (max-width: $min_px_width_for_desktop_layout) {
  .profile-admin__options__column {
    width: 100%;
  }
}

.profile-about {
  overflow: hidden;
}

.banner__2fa {
  margin-left: 8px;
  padding: 2px;

  .success {
    background: $success_color;
  }

  .danger {
    background: $danger_color;
  }
}

.enable-2fa {
  margin-top: 1em;
}

.break-word {
  word-wrap: break-word;
}

.avatar--28px {
  width: 28px;
  height: 28px;
}

.avatar--50px {
  width: 50px;
  height: 50px;
}

.avatar--100px {
  width: 100px;
  height: 100px;
}

.avatar--100px--nft_border {
  background: $primary_color;
  padding: 4px;
  clip-path: path("m54 3.22c-4.34 0-8.68 0.172-13 0.52a3.9 3.9 0 0 0-2e-3 0l-2.72 0.219c-3.93 0.315-7.74 1.5-11.1 3.47-3.41 1.97-6.34 4.68-8.58 7.93a3.9 3.9 0 0 0-2e-3 2e-3l-1.55 2.25c-4.93 7.14-9.27 14.7-13 22.5l-1.17 2.45a3.9 3.9 0 0 0-0.00195 0.0059c-1.69 3.56-2.56 7.45-2.56 11.4-1e-8 3.94 0.876 7.83 2.56 11.4a3.9 3.9 0 0 0 0.00195 0.0059l1.17 2.46c3.73 7.84 8.07 15.4 13 22.5l1.55 2.25a3.9 3.9 0 0 0 2e-3 2e-3c2.24 3.25 5.17 5.96 8.58 7.93 3.41 1.97 7.22 3.15 11.1 3.47a3.9 3.9 0 0 0 2e-3 0l2.72 0.219c8.65 0.695 17.3 0.694 26 0a3.9 3.9 0 0 0 2e-3 0l2.72-0.219a3.9 3.9 0 0 0 2e-3 0c3.93-0.318 7.75-1.51 11.2-3.48a3.9 3.9 0 0 0 0.0098-6e-3c3.4-1.98 6.34-4.68 8.57-7.94l2e-3 -2e-3 1.54-2.24 2e-3 -0.0039c4.93-7.14 9.27-14.6 13-22.5v-2e-3l1.17-2.46a3.9 3.9 0 0 0 2e-3 -0.0039c1.69-3.56 2.56-7.45 2.56-11.4 0-3.94-0.876-7.83-2.56-11.4a3.9 3.9 0 0 0-6e-3 -0.0098l-1.17-2.45 4e-3 0.0039c-3.73-7.84-8.07-15.4-13-22.5a3.9 3.9 0 0 0-0.0078-0.0137l-1.55-2.23 0.0059 0.0117c-2.24-3.25-5.17-5.96-8.58-7.93-3.41-1.97-7.23-3.15-11.2-3.47l-2.72-0.219c-4.32-0.347-8.65-0.52-13-0.52z");
}

.avatar--100px--nft {
  clip-path: path("m96.5 37.8c-3.64-7.65-7.88-15-12.7-22l-1.55-2.23c-1.91-2.77-4.41-5.08-7.32-6.76-2.91-1.68-6.16-2.69-9.52-2.96l-2.72-0.219c-8.44-0.678-16.9-0.678-25.4 0l-2.72 0.219c-3.35 0.268-6.6 1.28-9.51 2.96-2.91 1.68-5.41 3.99-7.32 6.76l-1.55 2.25c-4.81 6.97-9.05 14.3-12.7 22l-1.17 2.46c-1.44 3.04-2.19 6.36-2.19 9.72 0 3.36 0.749 6.68 2.19 9.72l1.17 2.46c3.64 7.65 7.88 15 12.7 22l1.55 2.25c1.91 2.77 4.41 5.08 7.32 6.76 2.91 1.68 6.16 2.69 9.51 2.96l2.72 0.219c8.44 0.678 16.9 0.678 25.4 0l2.72-0.219c3.35-0.271 6.61-1.29 9.52-2.97 2.91-1.69 5.41-4 7.32-6.78l1.55-2.25c4.81-6.97 9.05-14.3 12.7-22l1.17-2.46c1.44-3.04 2.19-6.36 2.19-9.72 0-3.36-0.749-6.68-2.19-9.72z");
}

.avatar--125px {
  width: 125px;
  height: 125px;
}

.avatar-disabled {
  opacity: 0.4;
}

.staff-title-muted {
  color: #777;
}